<div class="header pt-4 pb-2 text-center">
  <h2>Friends</h2>
  <div class="import-button top-right-icon camera-cart">
      <%= link_to camera_path :key => "" do %>
        <span class="camera"><i class="fas fa-camera fa-2x"></i></span>
        <span class="counter"></span>
      <% end %>
  </div>
</div>

<div class="search-container">
  <%= render 'shared/search_bar' %>
</div>

<div class="scrollable pr-1 mt-3 d-flex flex-column align-items-center justify-content-center">
  <div class="scrolling-wrapper-flexbox">
    <% @friends.each do |friend| %>
    <div class="card d-flex flex-column align-items-center justify-content-around">
      <span class="checkbox" data-key="<%= friend.avatars.first.photo.key %>"><i class="far fa-check-circle fa-2x"></i></span>
      <%= cl_image_tag friend.avatars.first.photo.key %>
      <p>@<%= friend.username %></p>
    </div>
    <% end %>
  </div>
</div>
