<div class="header pt-4 pb-2 text-center">
  <h2>Notifications</h2>

  <div class="notifications-list mt-5">


    <div class="notification">
      <%= link_to(memory_path(current_user.avatars.last.memories.first.id)) do %>
      <span class="notification-bar active"></span>
      <div class="notification-content d-flex justify-content-between">
        <%= cl_image_tag current_user.avatars.last.photo.key, class: "avatar-thumbnail rounded-circle" %>
        <div class="notification-text">
          <p><strong>@<%= current_user.username %></strong> has created a memory with you</p>
        </div>
        <%= cl_image_tag current_user.memories.last.photo.key, class: 'memory-sm' %>
      </div>
      <% end %>
    </div>

    <div class="notification">
      <%= link_to(memory_path(current_user.avatars.last.memories.first.id)) do %>
      <span class="notification-bar active"></span>
      <div class="notification-content d-flex justify-content-between">
        <%= cl_image_tag current_user.avatars.last.photo.key, class: "avatar-thumbnail rounded-circle" %>
        <div class="notification-text">
          <p><strong>@<%= current_user.username %></strong> has created a memory with you</p>
        </div>
        <%= cl_image_tag current_user.memories.last.photo.key, class: 'memory-sm' %>
      </div>
      <% end %>
    </div>

    <div class="notification">
      <%= link_to(memory_path(current_user.avatars.last.memories.first.id)) do %>
      <span class="notification-bar active"></span>
      <div class="notification-content d-flex justify-content-between">
        <%= cl_image_tag current_user.avatars.last.photo.key, class: "avatar-thumbnail rounded-circle" %>
        <div class="notification-text">
          <p><strong>@<%= current_user.username %></strong> has created a memory with you</p>
        </div>
        <%= cl_image_tag current_user.memories.last.photo.key, class: 'memory-sm' %>
      </div>
      <% end %>
    </div>

    <div class="notification">
      <%= link_to(memory_path(current_user.avatars.last.memories.first.id)) do %>
      <span class="notification-bar"></span>
      <div class="notification-content d-flex justify-content-between">
        <%= cl_image_tag current_user.avatars.last.photo.key, class: "avatar-thumbnail rounded-circle" %>
        <div class="notification-text">
          <p><strong>@<%= current_user.username %></strong> has created a memory with you</p>
        </div>
        <%= cl_image_tag current_user.memories.last.photo.key, class: 'memory-sm' %>
      </div>
      <% end %>
    </div>

    <div class="notification">
      <%= link_to(memory_path(current_user.avatars.last.memories.first.id)) do %>
      <span class="notification-bar"></span>
      <div class="notification-content d-flex justify-content-between">
        <%= cl_image_tag current_user.avatars.last.photo.key, class: "avatar-thumbnail rounded-circle" %>
        <div class="notification-text">
          <p><strong>@<%= current_user.username %></strong> has created a memory with you</p>
        </div>
        <%= cl_image_tag current_user.memories.last.photo.key, class: 'memory-sm' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

