<div class="header pt-4 pb-2 text-center">
  <h2>Memory</h2>
</div>

<div class="wrapper memory-container show-height">
  <div class="d-flex justify-content-between my-1">
    <div class="user d-flex align-items-center">
    <%= cl_image_tag @memory.user.avatars.last.photo.key, class: 'avatar-display-photo avatar-md rounded-circle border mr-2' %>
    <p>@<%= @memory.user.username %></p>
    </div>
    <div class="user d-flex align-items-center">
    <p><%= @memory.time_since_upload %> <i class="fas fa-clock"></i></p>
    </div>
  </div>
  <%= cl_image_tag @memory.photo.key, class: 'memory-lg' %>
  <div class="friends-tagged pt-2">
    <i class="fas fa-user-tag"></i>
    <% @memory.avatars.each do |avatar| %>
      <span class="tag">@<%= avatar.user.username %></span>
    <% end %>
  </div>
</div>
