<div class="wrapper memory-container show-height">
  <div class="d-flex justify-content-between mt-1 mb-2">
    <div class="user d-flex align-items-center">
      <%= cl_image_tag @memory.user.avatars.last.photo.key, class: 'avatar-display-photo avatar-md rounded-circle border mr-2' %>
      <p>@<%= @memory.user.username %></p>
    </div>
    <div class="user d-flex align-items-center">
      <p><%= @memory.time_since_upload %> <i class="fas fa-clock"></i></p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
  <%= cl_image_tag @memory.photo.key, class: 'memory-lg' %>
  </div>
  <div class="friends-tagged pt-2 d-flex align-items-center w-100 flex-wrap">
    <i class="fas fa-user-tag commenter ml-2 mr-1"></i>
    <% @memory.avatars.each do |avatar| %>
    <span class="tag mx-1 mb-1">@<%= avatar.user.username %></span>
    <% end %>
  </div>

  <div class="comments-section">

    <% if @comments %>
    <!-- <h4>Comments</h4> -->
    <div class="all-comments">
      <% @comments.each do |comment| %>
      <div class="comment my-2 d-flex justify-content-between align-items-center">
       <!-- USERNAME + COMMENT -->
       <div class="user-and-comment-container">
        <span class="commenter mr-2">
          @<%= comment.user.username %>
        </span>
        <span id="comment-<%= comment.id %>" class="comment-text"><%= comment.content %></span>
      </div>
      <!-- TIME SINCE -->
      <div class="time-container text-right d-flex justify-content-end">
        <span class="time"><%= comment.time_since_upload %></span>
      </div>

    </div>
    <% end %>
  </div>
  <% end %>

  <div class="leave-comment my-3">
    <div class="comment-form d-flex">
      <%= simple_form_for [@memory, @comment], remote: true, html: { class: 'w-100' } do |f| -%>
        <%= f.input :content, label: 'Leave a comment!', class: "flex-grow-1" %>
        <%= f.button :submit, 'Post!', class: "active rounded-pill w-100" %>
        <% end %>
    </div>
  </div>
</div>
</div>
