<!DOCTYPE html>
<html>
  <head>
    <title>PlaceholderMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'aframe-pack', 'data-turbolinks-track': 'reload', defer: false %>
    <%#= javascript_include_tag 'https://cdn.jsdelivr.net/gh/aframevr/aframe@9d093bbd98ef98fa0ccc7b791a16c066fcafbc29/dist/aframe-master.min.js' %>
  </head>


<body>
  <!-- <%= render 'shared/navbar' %> -->
    <%= render 'shared/flashes' %>
    <%= yield %>

  <% if current_page?(root_path) || current_page?(friends_path) %>
  <%= render 'shared/bottom_navbar' %>
  <% end %>

</body>

</html>
